{% extends 'base.html' %}

{% block title %}Minhas Receitas{% endblock %}

{% block conteudo %}
    <h1>Minhas Receitas</h1>

    <p><a href="{% url 'criar_receita' %}">+ Nova Receita</a></p>

    <ul>
        {% for receita in receitas %}
            <li>{{ receita.data }} - {{ receita.descricao }} - R$ {{ receita.valor }} ({{ receita.tipo }})
                <a href="{% url 'editar_receita' receita.id %}">Editar</a>
                <a href="{% url 'excluir_receita' receita.id %}">Excluir</a>
            </li>
        {% empty %}
            <li>Nenhuma receita cadastrada ainda.</li>
        {% endfor %}
    </ul>
{% endblock %}
