{% load static %}

<!DOCTYPE html>
<html lang="pt-br" data-tema="claro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Controle Financeiro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'lista_receitas' %}">Receitas</a>
        <a href="{% url 'lista_despesas' %}">Despesas</a>
        <button id="botao-tema" type="button">Tema</button>
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    </nav>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

    <script>
    const botaoTema = document.getElementById('botao-tema');
    const htmlElemento = document.documentElement;

    const TemaSalvo = localStorage.getItem('tema');
    if (TemaSalvo) {
        htmlElemento.setAttribute('data-tema', TemaSalvo);
    }

    botaoTema.addEventListener('click', function () {
        const temaAtual = htmlElemento.getAttribute('data-tema');
        const novoTema = temaAtual ==='escuro' ? 'claro' : 'escuro';

        htmlElemento.setAttribute('data-tema', novoTema);
        localStorage.setItem('tema', novoTema);
    })
    </script>
</body>
</html>
