{% load static %}

<!DOCTYPE html>
<html lang="pt-br" data-tema="claro">

<script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Controle Financeiro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-logo">
            {% include 'partials/logo.html' %}
        </div>
        <a href="{% url 'dashboard' %}" class="{% if request.resolver_match.url_name == 'dashboard' %}nav-ativo{% endif %}">Dashboard</a>
        <a href="{% url 'lista_receitas' %}" class="{% if request.resolver_match.url_name == 'lista_receitas' %}nav-ativo{% endif %}">Receitas</a>
        <a href="{% url 'lista_despesas' %}" class="{% if request.resolver_match.url_name == 'lista_despesas' %}nav-ativo{% endif %}">Despesas</a>
        <button id="botao-tema" type="button">🌙 Modo Escuro</button>
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    </nav>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

    <script>
        const botaoTema = document.getElementById('botao-tema');
        const htmlElemento = document.documentElement;

        function atualizarTextoBotao(tema) {
            if (tema === 'escuro') {
            botaoTema.textContent = '☀️ Modo Claro';
            } else {
            botaoTema.textContent = '🌙 Modo Escuro';
            }
        }

        const temaSalvo = localStorage.getItem('tema');
        if (temaSalvo) {
        htmlElemento.setAttribute('data-tema', temaSalvo);
        }
        atualizarTextoBotao(htmlElemento.getAttribute('data-tema'));

        botaoTema.addEventListener('click', function () {
            const temaAtual = htmlElemento.getAttribute('data-tema');
            const novoTema = temaAtual === 'escuro' ? 'claro' : 'escuro';

            htmlElemento.setAttribute('data-tema', novoTema);
            localStorage.setItem('tema', novoTema);
            atualizarTextoBotao(novoTema);

            if (typeof desenharGraficoEvolucao === 'function') {
                desenharGraficoEvolucao();
            }
        });
    </script>
</body>
</html>
